.column__container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.column__container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.columnList {
    height:552px;
    width: 328px;
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}


.column__title {
    font-size:  20px;
    margin-bottom: 18px;
}

.column__container {
    overflow-y: auto;
    height: 420px;
}
