*{
    box-sizing: border-box;
}

.Entry__button {
    width: 288px;
    height:32px;
    background-color:#FFFFFF;
    border-style: none;
    margin: 0 auto;
    margin-bottom: 16px;
    cursor: pointer;
}

.entry-modal {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(54, 52, 52, 0.118);
    width:320px;
    height: 552px;
    margin: 0 auto;
    margin-top: 5%;
}


.entry__wrapper {
    width: 80%;
        padding-top: 40px;
    margin: 0 auto;
}
.entry__title {
    font-size: 20px;
}

.entry__form {
    margin-top: 48px;
}

.entry__close {
    cursor: pointer;
}
.entry__first {
    display: flex;
    justify-content: space-between;

}


.entry__input {
    display: flex;
    flex-direction: column;
    color:161226;

}

.entry__input input{
    padding: 16px;

}

.entry__input input::placeholder {
   color:#C1C1C1;
}

.entry__input__container .entry__input:not(:last-child) {
   margin-bottom: 16px;
}

.entry__input__container .entry__input:last-child {
   margin-bottom: 32px;
}
.entry__input input {
    border-style: solid #161226;
    height: 40px;
    width: 255px;
    margin-top: 8px;
}

.entry__input label {
    color: #161226;
    font-size: 16px;
}

.entry__button {
    width: 255px;
    height: 40px;
    border-style: none;
    background-color: #4678FF;
    color:white;
    font-size: 16px;
}