.edit-modal {
    background-color: red;
    width: 400px;
    height: 400px;
      margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.Edit__button {
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7979E0;
  margin-right: 16px;

}